.desktop-1 .dfd-062-db-6-f-3-c-1-efab-943-dad-14-f-91-d-1 {
  background: url('../assets/images/dfd_062_db_6_f_3_c_1_efab_943_dad_14_f_91_d_1.png') 50% / cover no-repeat;
  margin: 0 0.9rem 0.5rem 0;
  width: 3.1rem;
  height: 2.8rem;
}
.desktop-1 .dashboard {
  margin-top: 1.4rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.3rem;
  color: #0088D4;
}
.desktop-1 .container-4 {
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .ed-493-f-9329-d-3-b-26846-a-241-ac-50-c-3-be-7-f-1 {
  background: url('../assets/images/ed_493_f_9329_d_3_b_26846_a_241_ac_50_c_3_be_7_f_1.png') 50% / cover no-repeat;
  margin-right: 0.9rem;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .aqi-map {
  margin: 1rem 0 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
}
.desktop-1 .container-20 {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .data-analytics-icon-png-png-image-5018611 {
  background: url('../assets/images/data_analytics_icon_png_png_image_5018611.png') 50% / cover no-repeat;
  margin-right: 0.9rem;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .data-tables {
  margin: 1rem 0 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
}
.desktop-1 .container-19 {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .kisspng-telecommunications-tower-wireless-wi-fi-clip-art-wireless-tower-svg-png-icon-free-download-556365-bfdc-75944-c-7-d-088081677154335829728171 {
  background: url('../assets/images/kisspng_telecommunications_tower_wireless_wi_fi_clip_art_wireless_tower_svg_png_icon_free_download_556365_bfdc_75944_c_7_d_088081677154335829728171.png') 50% / cover no-repeat;
  margin-right: 0.9rem;
  width: 3.1rem;
  height: 3.5rem;
}
.desktop-1 .air-quality-forecasts {
  margin: 1.3rem 0 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
}
.desktop-1 .container-2 {
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .calendar-1 {
  background: url('../assets/images/calendar_1.png') 50% / cover no-repeat;
  margin-right: 0.9rem;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .calendar-history {
  margin: 1rem 0 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
}
.desktop-1 .container-13 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-16 {
  border-radius: 0 1.3rem 1.3rem 0;
  background: #FFB7C1;
  position: relative;
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem 0 1.8rem;
  box-sizing: border-box;
}
.desktop-1 .vector {
  width: 2.9rem;
  height: 2.9rem;
}
.desktop-1 .iconrefresh {
  margin-right: 0.7rem;
  display: flex;
  width: 4.3rem;
  height: 4.3rem;
  box-sizing: border-box;
}
.desktop-1 .last-updated {
  margin: 0.2rem 0 0.5rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;
}
.desktop-1 .container-8 {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .coimbatore-tamilnadu {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .gps-1 {
  background: url('../assets/images/gps_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 1rem;
  bottom: 0.4rem;
  width: 2.5rem;
  height: 2.5rem;
}
.desktop-1 .container-3 {
  border-radius: 1.3rem;
  background: #99DFFC;
  position: relative;
  margin-bottom: 0.3rem;
  display: flex;
  padding: 0.8rem 1.3rem 0.9rem 1.3rem;
  width: 15.8rem;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  margin: 0 1.3rem 1.6rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 63.7rem;
  box-sizing: border-box;
}
.desktop-1 .speedometer-1 {
  background: url('../assets/images/speedometer_1.png') 50% / cover no-repeat;
  margin: 0 17.8rem 3.4rem 0;
  width: 18.8rem;
  height: 18.8rem;
}
.desktop-1 .recommendations {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}
.desktop-1 .container-15 {
  border-radius: 0.9rem;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 2.1rem;
  padding: 0.8rem 1.9rem 1.6rem 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .health-advice {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}
.desktop-1 .container-10 {
  border-radius: 0.9rem;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 2.4rem;
  padding: 1rem 1.9rem 1.4rem 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .travel-suggestion {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}
.desktop-1 .container-9 {
  border-radius: 0.9rem;
  background: #D9D9D9;
  position: relative;
  padding: 1.2rem 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-12 {
  margin-top: 3.8rem;
  display: flex;
  flex-direction: column;
  width: 27.9rem;
  box-sizing: border-box;
}
.desktop-1 .container-14 {
  margin: 0 1.3rem 4.4rem 2.3rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .slider-1 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 2.3rem;
  top: 6.6rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-7 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 2.8rem;
  bottom: 2.7rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-8 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 13.8rem;
  bottom: 2.7rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-9 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 25.6rem;
  bottom: 2.7rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-10 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  right: 25.9rem;
  bottom: 2.7rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-11 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  right: 13.9rem;
  bottom: 2.7rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-12 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  right: 2.4rem;
  bottom: 2.6rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-2 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 13.8rem;
  top: 6.6rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-3 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  left: 25.8rem;
  top: 6.6rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-4 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  top: 6.6rem;
  right: 25.9rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-5 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  top: 6.6rem;
  right: 13.9rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .slider-6 {
  background: url('../assets/images/slider_6.png') 50% / cover no-repeat;
  position: absolute;
  top: 6.6rem;
  right: 2.4rem;
  width: 4.4rem;
  height: 4.4rem;
}
.desktop-1 .dust-11 {
  background: url('../assets/images/dust_11.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .dust-1 {
  background: url('../assets/images/dust_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .dioxide-1 {
  background: url('../assets/images/dioxide_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .sulfur-1 {
  background: url('../assets/images/sulfur_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .cobalt-1 {
  background: url('../assets/images/cobalt_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .ozone-1 {
  background: url('../assets/images/ozone_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .container-6 {
  margin: 0 0.8rem 0.8rem 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 62rem;
  box-sizing: border-box;
}
.desktop-1 .pm-25 {
  position: relative;
  margin: 0 0.8rem 0.3rem 0;
  display: inline-block;
  width: 4.9rem;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .pm-10 {
  position: relative;
  margin: 0.1rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .no-2 {
  position: relative;
  margin-bottom: 0.6rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .so-2 {
  position: relative;
  margin-bottom: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .co {
  position: relative;
  margin-top: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .ozone {
  position: relative;
  margin-bottom: 0.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .container-11 {
  margin: 0 0.7rem 9.4rem 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 62rem;
  box-sizing: border-box;
}
.desktop-1 .temperature-1 {
  background: url('../assets/images/temperature_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .storm-1 {
  background: url('../assets/images/storm_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .humidity-1 {
  background: url('../assets/images/humidity_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .wind-vane-1 {
  background: url('../assets/images/wind_vane_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .sun-1 {
  background: url('../assets/images/sun_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .pressure-1 {
  background: url('../assets/images/pressure_1.png') 50% / cover no-repeat;
  width: 3.1rem;
  height: 3.1rem;
}
.desktop-1 .container-17 {
  margin: 0 0.8rem 0.8rem 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 61.9rem;
  box-sizing: border-box;
}
.desktop-1 .temperature {
  position: relative;
  margin-right: 1.5rem;
  width: 6.5rem;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .wind-speed {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .humidity {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .wind-direction {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .solar-radiation {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .pressure {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}
.desktop-1 .container-7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64rem;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64rem;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-18 {
  border-radius: 0.6rem;
  background: #FFE4C9;
  position: relative;
  display: flex;
  padding: 1.8rem 2.3rem 4.9rem 1.7rem;
  width: 68rem;
  box-sizing: border-box;
}
.desktop-1 .container {
  margin: 2.3rem 0 1.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFF7F1;
  display: flex;
  flex-direction: row;
  padding-right: 1.1rem;
  width: 90rem;
  box-sizing: border-box;
}
