/* SideNav.css */
.side-nav {
  width: 200px;
  background-color: #ffcccc;
  padding: 20px;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin-bottom: 20px;
}

.side-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.side-nav i {
  margin-right: 10px;
}
