/* app.css */
html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    font-family: Arial, sans-serif; 
    color: black; 
    overflow-x: hidden;
    height: 100vh;
    display: flex; /* Optional, if you want to use flexbox */
    flex-direction: column; /* Optional */
}

/* Container for the app */
.container {
    max-width: 1480px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 1rem; /* Padding inside the container */
    background-color: #f3f4f6; /* Light background color */
}

/* Sidenav styles */
.sidenav {
    width: 200px;
    background-color: #f4f4f4;
    height: 100vh;
    position: fixed;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav ul li {
    padding: 10px 15px;
}

.sidenav ul li a {
    text-decoration: none;
    color: #333;
}

.main-content {
    margin-left: 220px; /* Make space for the sidenav */
    padding: 20px;
}

/* Background color styles */
.bg-green-500 {
    background-color: #22c55e; /* Green background */
}

.bg-yellow-500 {
    background-color: #f59e0b; /* Yellow background */
}

.bg-orange-500 {
    background-color: #f97316; /* Orange background */
}

.bg-red-500 {
    background-color: #ef4444; /* Red background */
}

.bg-purple-500 {
    background-color: #a855f7; /* Purple background */
}

.bg-maroon-500 {
    background-color: #7f1d1d; /* Maroon background */
}
